.DS_Store
*.iws
.idea_modules/
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
*.pydevproject
.cproject
.autotools
.factorypath
.buildpath
.target
.springBeans
*.iml
*.ipr
.idea/
target/
apidocs/
/.classpath
/.project
